extends ../layout.pug

block content
    h1 Item details

    table
        tr
            td ID
            td= item.id
        tr
            td Name
            td= item.name
        tr
            td Image
            td= item.image
        tr
            td Description
            td= item.description
