extends ../layout.pug
block content
    h1 All items

    if items.length > 0
        table
            thead
                tr
                    th Item Id
                    th Item Name
                    th Description
                    th Image
            tbody
                each item in items
                    tr
                        td
                            a(href=`/items/${item.id}`)= item.id
                        td= item.name
                        td= item.description
                        td= item.image
    else
        p No items found
